
:root {
    color: white; /* change later */
}

#root > div:nth-child(1) {
    position: relative;
    top: 200px;
}

body,html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('https://external-preview.redd.it/Tf2MC-orVRAI8OL5tjyF4k4H2Q6QLHTWllekGfqdt3c.png?width=960&crop=smart&auto=webp&s=be4ab9a2fa3ca2f7011799377f118a8dbc64aacb');
  background-size: cover;
  background-repeat: no-repeat;
}
canvas{
  filter: blur(1px);
}

.topBar {
    display: flex;
    justify-content: center;
}


.topBar div {
    padding: 0px 5px;
}

.mailLink img, .githubLink img, .linkedinLink img {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid green;
}

.personalPicture {
    display: flex;
    justify-content: center;
}

.personalPicture img {
    height: 315px;
    width: 250px;
    border: 2px solid green;
    border-radius: 10px;
}


.linkedinLink img:hover, .githubLink img:hover, .mailLink img:hover {
    /* idk figure out a hover */
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.sectionLinks {
    display: flex;
    justify-content: center;
}

.sectionLinks > div {
    padding: 5px 10px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 20px;
}

.softwareEngineer {
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
    padding-bottom: 15px;
}


.sectionLinks > div:hover {
    border: 2px solid darkgray;
    color: darkgray;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-rotate {
    height: 50px;
    display: flex;
    justify-content: center;
}


.sectionOne {

}